@import url(./normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

// Colors
$orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);
$neutral: hsla(0, 0%, 100%, 0.75);
$very-light-gray: hsl(0, 0%, 95%);

// Fonts
$base-font-size: 15px;
$heading: 'Big Shoulders Display', cursive;
$base-text: 'Lexend Deca', sans-serif;

// Sizes
$mobile: 375px;
$desktop: 1440px;
$large-desktop: 1920px;

// Global Mixins
@mixin paragraphs {
    font-size: $base-font-size;
    font-family: $base-text;
    font-weight: 400;
    color: $neutral;
}
@mixin heading {
    font-family: $heading;
    font-size: 35px;
    color: $very-light-gray;
}
@mixin color($text-color) {
    color: $text-color;
}
@mixin button {
    display: flex;
    height: 75px;
    width: 120px;
    border-radius: 10px;
    background: $very-light-gray;
}

// Start of Code...
.full-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .section {
        display: flex;
        width: 80%;
        border-radius: 10px;
        border: 1px solid $dark-cyan;
        overflow: hidden;
    }
}
.card-wrapper {
    padding: 50px;
    .card {
        color: $neutral;
        .heading {
            @include heading;
        }
        .paragraph {
            @include paragraphs;
        }
        .button {
            @include button;
        }
    }
    &.orange {
        background: $orange;
        .card .button {
            @include color($orange);
        }
    }
    &.dark-cyan {
        background: $dark-cyan;
        .card .button {
            @include color($dark-cyan);
        }
    }
    &.very-dark-cyan {
        background: $very-dark-cyan;
        .card .button {
            @include color($very-dark-cyan);
        }
    }
}




/* Attribution */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }